# Project name for compose/infra.yml
COMPOSE_INFRA_NAME=iot-hub-infra

# Project name for compose/shared.yml
COMPOSE_SHARED_NAME=iot-hub-shared


# ==============================
# Kafka
# ==============================

# Unique broker/controller node id for KRaft mode
KAFKA_NODE_ID=1

# Process roles for node
KAFKA_PROCESS_ROLES=broker,controller

# Internal listeners for Docker network
KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093

# addresses Kafka tells clients to use
# For docker-compose network: kafka:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

# KRaft controller config
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

# Single-broker dev factors
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0

# Default partitions for new topics
KAFKA_NUM_PARTITIONS=3


# ===============================
# Database Configuration
# ===============================
DB_NAME=your-db-name
DB_USER=your-db-superuser
DB_PASSWORD=your-db-superpassword


# ===============================
# Flower (Celery monitoring UI)
# ===============================

# For Docker Compose launch: use redis://redis:6379/0
# For local launch without Docker: redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_FLOWER_USER=your-flower-user
CELERY_FLOWER_PASSWORD=your-flower-password
