# Project name for compose/infra.yml
COMPOSE_INFRA_NAME=iot-hub-infra

# Project name for compose/shared.yml
COMPOSE_SHARED_NAME=iot-hub-shared

# ===============================
# Database Configuration
# ===============================
DB_NAME=your-db-name
DB_USER=your-db-superuser
DB_PASSWORD=your-db-superpassword

# ===============================
# Flower (Celery monitoring UI)
# ===============================

# For Docker Compose launch: use redis://redis:6379/0
# For local launch without Docker: redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_FLOWER_USER=your-flower-user
CELERY_FLOWER_PASSWORD=your-flower-password
